<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Die Hard Water Puzzle</title>
  </head>
  <body>

  <h1>Die Hard 3</h1>
  <h2>Water Puzzle</h2>

  </body>

  <script src="public/javascript/scales.js"></script>
  <script src="public/javascript/fiveLitreJug.js"></script>
  <script src="public/javascript/threeLitreJug.js"></script>
  <script src="public/javascript/waterPuzzle.js"></script>
  <script src="jquery.js"></script>
  <script src="interface.js"></script>

</html>
