<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Die Hard Water Puzzle</title>
  </head>
  <body>

  <h1>HI</h1>

  <canvas id="canvas" width="300" height="300"></canvas>

  </body>
</html>
