<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Die Hard Water Puzzle</title>
  </head>
  <body>

  <h1>Die Hard 3</h1>
  <h2>Water Puzzle</h2>



  </body>
</html>
