<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src ="/javascript/jquery.js"></script>
    <script type="text/javascript" src ="/javascript/interface.js"></script>
    <script type="text/javascript" src ="/javascript/fiveLitreJug.js"></script>
    <script type="text/javascript" src ="/javascript/threeLitreJug.js"></script>
    <script type="text/javascript" src ="/javascript/scales.js"></script>
    <script type="text/javascript" src ="/javascript/waterPuzzle.js"></script>
    <meta charset="utf-8">

    <title>Die Hard Water Puzzle</title>

  </head>
  <body>

  <h1>Die Hard 3</h1>
  <h2>Water Puzzle</h2>

  <div class="images">
    <img class="scales" src="http://localhost:3000/images/scales.png" alt="scales">
    <img class="smallbottle" src="http://localhost:3000/images/smallbottle.png" alt="smallbottle">
    <img class="largebottle" src="http://localhost:3000/images/largebottle.png" alt="largebottle">
  </div>

  <div class="buttons">
    <button type="button" name="button"></button>
    <button type="button" name="button"></button>
    <button type="button" name="button"></button>
  </div>

  </body>

</html>
