<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src ="/javascript/jquery.js"></script>
    <script type="text/javascript" src ="/javascript/interface.js"></script>
    <script type="text/javascript" src ="/javascript/fiveLitreJug.js"></script>
    <script type="text/javascript" src ="/javascript/threeLitreJug.js"></script>
    <script type="text/javascript" src ="/javascript/scales.js"></script>
    <script type="text/javascript" src ="/javascript/waterPuzzle.js"></script>
    <meta charset="utf-8">

    <title>Die Hard Water Puzzle</title>

  </head>
  <body>

  <h1>Die Hard 3</h1>
  <h2>Water Puzzle</h2>

  <div class="images">
    <img class="scales" src="http://localhost:3000/images/scales.png" alt="scales">
    <img class="smallbottle" src="http://localhost:3000/images/smallbottle.png" alt="smallbottle">
    <img class="largebottle" src="http://localhost:3000/images/largebottle.png" alt="largebottle">
  </div>

  <div class="buttons">
    <button class= "weigh" id="weigh" type="button" name="button">Weigh</button>
    <button class="fillthree" id="fillthree" type="button" name="button">Fill Three Litre Bottle</button>
    <button class="fillfive" id="fillfive" type="button" name="button">Fill Five Litre Bottle</button><br>
    <button class="hidden1" type="button" name="button"></button>
    <button class="emptythree" id="emptythree" type="button" name="button">Empty Three Litre Bottle</button>
    <button class="emptyfive" id="emptyfive" type="button" name="button">Empty Five Litre Bottle</button><br>
    <button class="hidden2" type="button" name="button"></button>
    <button class="pourintofive" id="pourintofive" type="button" name="button">Pour Into Five Litre Bottle</button>
    <button class="pourintofive" id="pourintothree" type="button" name="button">Pour Into Three Litre Bottle</button>
  </div>

  </body>

</html>
