@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  background-color: dimgray;
}

h1 {
  margin-bottom: 0;
  font-family: 'Russo One';
  font-size: 50px;
  color: red;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

h2 {
  margin: 0;
  font-family: 'Russo One';
  font-size: 30px;
  font-weight: lighter;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

h3 {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  font-family: Lato;
}

h4 {
  display: inline;
  padding-left: 200px;
  padding-right: 50px;
  font-size: 20px;
  font-family: Lato;
}

h5 {
  margin-bottom: 0;
  font-family: 'Russo One';
  font-size: 50px;
  color: red;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

h6 {
  text-align: center;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  font-size: 20px;
  font-family: Lato;
}

h7 {
  margin-bottom: 0;
  padding-top: 20px;
  font-family: 'Russo One';
  font-size: 50px;
  color: red;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

p {
  font-family: Lato;
}

button {
  font-family: Lato;
}

.status {
  text-align: center;
  padding-top: 75px;
  padding-left: 250px;
}

.images {
  padding-top: 30px;
  text-align: center;
}

.scales {
  height: 200px;
  width: 200px;
  padding-right: 60px;
}

.smallbottle {
  height: 200px;
  width: 200px;
}

.largebottle {
  height: 200px;
  width: 200px;
  padding-left: 60px;
}

.buttons {
  padding-top: 50px;
  text-align: center;
  margin-left: 70px;
}

.fillthree {
  margin-left: 150px;
  margin-right: 150px;
}

.emptythree {
  margin-left: 130px;
  margin-right: 130px;
}

.pourintofive {
  margin-left: 120px;
  margin-right: 0px;
}

.pourintothree {
  margin-left: 120px;
  margin-right: 0px;
}

.hidden1 {
  visibility: hidden;
  padding-right: 60px;
}

.hidden2 {
  visibility: hidden;
  padding-right: 82px;
}

.winpopup {
  display: none;
  position: absolute;
  top: 25vh;
  left: 12vw;
  width: 75vw;
  height: 70vh;
  background-color: darkgray;
  color: black;
  border-style: solid;
  border-radius: 5px;
  border-color: darkred;
  z-index: 3;
}

.winpopup.open {
  display: block;
}

.losepopup {
  display: none;
  position: absolute;
  top: 25vh;
  left: 12vw;
  width: 75vw;
  height: 70vh;
  background-color: darkgray;
  color: black;
  border-style: solid;
  border-radius: 5px;
  border-color: darkred;
  z-index: 3;
}

.losepopup.open {
  display: block;
}
