@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
background: linear-gradient(to left, #565656, dimgrey);

}

h1 {
  margin-bottom: 0;
  font-family: 'Russo One';
  font-size: 50px;
  color: red;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

h2 {
  margin: 0;
  font-family: 'Russo One';
  font-size: 30px;
  font-weight: lighter;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

h3 {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  font-family: Lato;
}

h4 {
  display: inline;
  padding-left: 200px;
  padding-right: 50px;
  font-size: 20px;
  font-family: Lato;
}

h5 {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: 'Russo One';
  font-size: 50px;
  color: red;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

h6 {
  text-align: center;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  font-size: 20px;
  font-family: Lato;
}

p {
  font-family: Lato;
  padding-left: 100px;
  padding-right: 100px;
}

button {
  border-top: 1px solid #7a7a7a;
  background: #2e2e2e;
  padding: 7.5px 15px;
  border-radius: 6px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 10px;
  font-family: Lato;
  text-decoration: none;
  vertical-align: middle;
  width: 160px;
}

button:hover {
  border-top-color: #858585;
  background: #858585;
  color: #ffffff;
}

button:active {
  border-top-color: #960000;
  background: red;
}

button:focus {
  outline: 0;
}

.status {
  text-align: center;
  padding-top: 40px;
  padding-left: 250px;
}

.images {
  padding-top: 30px;
  text-align: center;
}

.smallimage {
  height: 150px;
  width: 150px;
}

.scales {
  height: 200px;
  width: 200px;
  padding-right: 60px;
}

.smallbottle {
  height: 200px;
  width: 200px;
}

.largebottle {
  height: 200px;
  width: 200px;
  padding-left: 60px;
}

.buttons {
  padding-top: 50px;
  text-align: center;
}

.hidden1 {
  visibility: hidden;
}

.hidden2 {
  visibility: hidden;
}

.winpopup {
  display: none;
  position: absolute;
  top: 25vh;
  left: 12vw;
  bottom: 10vh;
  width: 75vw;
  height: 70vh;
  background-color: darkgray;
  color: black;
  border-style: solid;
  border-radius: 5px;
  border-color: darkred;
  z-index: 3;
}

.winpopup.open {
  display: block;
}

.losepopup {
  display: none;
  position: absolute;
  top: 25vh;
  left: 12vw;
  width: 75vw;
  height: 70vh;
  background-color: darkgray;
  color: black;
  border-style: solid;
  border-radius: 5px;
  border-color: darkred;
  z-index: 3;
}

.losepopup.open {
  display: block;
}

.helppopup {
  display: none;
  position: absolute;
  top: 25vh;
  left: 12vw;
  bottom: 10vh;
  width: 75vw;
  height: 70vh;
  background-color: darkgray;
  color: black;
  border-style: solid;
  border-radius: 5px;
  border-color: darkred;
  z-index: 3;
}

.helppopup.open {
  display: block;
}
